.page-title {
  text-align: center;
  color: #704241;
}

.center {
  display: flex;
  justify-content: center;
}

.top-link {
  padding: 0.7rem;
  border: 0.1rem solid #704241;
  border-radius: 0.4rem;

  a {
    color: #704241;
  }

  &:hover {
    background: #704241;

    a {
      color: white;
    }
  }
}

.card {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background: #F6F3F3;
  color: #704241;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);

  &__content {
    padding: 1rem;

    &-title {
      text-align: center;
    }
    &-sub {
      text-align: center;
    }
    &-author {
      text-align: center;
    }
    &-item {
      margin: auto;
      width: 50%;
      text-align: center;
    }
  }
}

.button-box {
  display: flex;
  justify-content: space-around;
  margin: 1rem;

  &__btn {
    padding: 0.7rem;
    border: 0.1rem solid #704241;
    border-radius: 0.4rem;
    background: white;
    color: #704241;

    &:hover {
      background: #704241;
      color: white;

      a {
        color: white;
      }
    }

    a {
      color: #704241;

      &:hover {
        color: white;
      }
    }
  }
}

.form-title {
  width: 100%;
  text-align: center;
}

.form-input {
  width: 30%;
  border: none;
  outline: none;
  font-size: 1.5rem;

  &__text {
    width: 80%;
    height: 19rem;
    border: none;
    outline: none;
    font-size: 1rem;
  }
}
