.nav {
  padding: 1.5rem 0;
  background: #704241;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  &__links {
    padding: 0.5rem;
  }

  &__links a {
    padding-left: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: url('/assets/images/thumb.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  &-box {
    padding-left: 5rem;
  }

  &__title {
    font-size: 4rem;
    color: #704241;
  }

  &__tag {
    font-size: 2rem;
    color: #704241;

  }
}

.about {

  &-box {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
  }

  &__card {
    margin: 1rem;
    width: calc(100% / 2 - 2rem);
    border: 1rem solid #704241;
    border-radius: 0.4rem;

    &-content {
      padding: 1rem;
      color: #704241;
      font-size: 1.5rem;
    }
    &-title {
      text-align: center;
      font-weight: bold;
    }
    &-tag {}
  }
}

.underline {
  text-decoration: underline;
}
